.container{
    margin:50px 0;
}
.card{
    margin: 0 2% !important;
}
.infected{
    border-bottom: 10px solid rgba(0, 0, blue, 0.5);
}
.recovered{
    border-bottom: 10px solid rgba(green, 0, 0, 0.5);
}
.deaths{
    border-bottom: 10px solid rgba(red, 0,0, 0.5);
}